ody {
    min-height: 100vh;
}

header {
    background-image: url(./../img/savonentete6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #b5dead;
}

.black {
    background-color: rgba(0, 0, 0, 0.5);
}

.equipe h1 {
    font-size: 4rem;
}

.equipe p {
    font-size: 2rem;
}

label {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5rem;
}

p.error {
    color: red;
    font-family: 'Pacifico', sans-serif;
    font-size: 1rem;
    display: none;
}

div.control {
    padding: 12px;
    font-size: 1.5rem;
    display: none;
}

.success {
    background: green;
    color: #fff;
}

.danger {
    background: red;
    color: #fff;
}